{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Django-RPG</title>
        <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    </head>
	<body>
		<div class="wrapper">
			<div class="container">
				<form method="post" action="">
		    		{% csrf_token %}
		    		{{ form.as_p }}
		    		<input type="submit" value="S'inscrire" />
				</form>
			</div>
			<ul class="bg-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</body>
</html>