html, body
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#gameOverlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
}
.gui
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
}
.gui_bottom
{
    position: absolute;
    bottom: 0px;
    pointer-events: none;
}
.gui_top
{
    position: absolute;
    top: 0px;
    pointer-events: none;
}
.gui_left
{
    position: absolute;
    left: 0px;
    pointer-events: none;
}
.gui_right
{
    position: absolute;
    right: 0px;
    pointer-events: none;
}
.gui_element
{
    pointer-events: auto;
}
